<h3>Features</h3>
<p>This site contains many unrelated features, all are for testing purpose.</p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Timesheets</h5>
        <p class="card-text">People can fill timesheets, and can specify the activity types and groups</p>
        <a  asp-area="" asp-controller="Timesheets" asp-action="Index"     class="btn btn-primary">Timesheet Table</a>
    </div>
</div>